/* STYLES FOR ALL ELEMENTS DISPLAYED ON SCREENS SMALLER THAN A DESKTOP SCREEN*/

@media screen and (max-width: 820px) {
    .md-body .extra-odds {
        margin-left: 5px;
    }

    .sw-image {
        display: flex;
    }

    .sw-text {
        display: none;
    }

    .ft-search span {
        display: none;
    }
}

.stake-mini-logo img {
    height: 32px;
    width: auto;
    margin: 0;
}

.sw-image {
    height: 45px;
    width: 45px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #2b78ca;
    transition: all 0.1s ease;
    cursor: default;
}

.sw-image img {
    margin: 0;
}

.sw-image:hover {
    background-color: #105FB5;
}

.md-head, .res-club-name {
    padding: 0 20px;
}

.res-stats-extra {
    font-size: 13px;
    font-weight: 600;
}

.res-stats-extra .md-image {
    margin: 0;
    margin-right: 5px;
}

.res-odd-type {
    width: 100%;
    margin: 5px 0;
    color: #b1bad3;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
}

.res-match-line {
    width: 100%;
    height: 2px;
    margin-top: 15px;
    background-color: #2F4553;
}

.tablet-dark-bg {
    position: absolute;
    top: 0;
    left: 240px;
    z-index: 9999;
}

.tablet-dark-bg .popup-background {
    width: calc(100vw - 240px);
    background-color: #161d2c;
    opacity: 0.6;
}

.res-stake-lb {
    position: absolute;
    top: 0;
    left: 0;
}


@media screen and (max-width: 760px) {
    .small-side-bar, .tablet-dark-bg {
        display: none;
    }
    .ft-search, .chat-icon, .fl-image-container {
        display: none;
    }

    .user-profile-icon {
        margin: 0;
    }

    .user-profile-dropdown {
        right: -2%;
    }

    .tablet-mobile-menu {
        display: flex;
        height: 60px;
        width: 100vw;
        padding: 0 2%;
        position: absolute;
        bottom: -2px;
        background-color: #071C2B;
        color: white;
    }

    .tmm-item {
        flex-grow: 1;
        position: relative;
        text-align: center;
        font-size: 11px;
        font-weight: 600;
        cursor: pointer;
    }
    
    .tmm-item img {
        height: 11px;
    }
    
    .tmm-image {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 5px;
    }

    .tmm-bet-count {
        position: absolute;
        top: -30%;
        right: 15%;
    }

    .stake-side-bar {
        min-width: 100vw;
    }
    .res-stake-lb {
        top: 59px;
    }

    .close-menu {
        display: block;
        position: absolute;
        right: 0;
        top: 15px;
    }
    .close-menu-image {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 40px;
        font-size: 18px;
        border-radius: 25px;
        cursor: pointer;
    }
    .close-menu-image:hover {
        background-color: #071824;
    }
    .close-menu-tooltip {
        display: none;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        position: absolute;
        top: 30px;
        right: 0;
        border-radius: 5px;
        background-color: white;
        color: #0E212F;
        white-space: nowrap;
    }

    .fl-body {
        height: calc(100% - 120px);
        width: 96%;
        margin-left: 4%;
    }
    .fl-body i {
        margin-right: 4%;
    }

    .show-cashier {
        position: absolute;
        left: 0;
        width: 100vw;
        min-width: 100vw;
    }

    .main-page::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .bs-menu2 {
        display: block;
        width: fit-content;
    }

    .menu2-right {
        margin-top: 30px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 600px) {
    .footer-section1 {
        margin-bottom: 30px;
    }

    .footer-menu {
        margin-top: 30px;
    }

    .loading-animation {
        height: 200px;
    }
}