* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', Courier, monospace;
    list-style: none;
}

body {
    background-color: #1B2D38;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


/*CONSTANTS*/

.display-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-flex-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.display-flex-btw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.display-flex-even {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

i {
    font-size: 12px;
    transition: all 0.3s ease;
}

.cursor {
    cursor: pointer;
}

.align-center {
    display: flex;
    align-items: center;
}


/*FIXED LEFT SIDE MENU*/

.stake-side-bar {
    display: flex;
    width: calc(20% - 20px);
    max-width: 350px;
    color: white;
}

.stake-side-bar img {
    height: 14px;
    width: auto;
    margin-right: 5px;
}

.minimize {
    position: absolute;
    left: -100%;
}

.fixed-left {
    background-color: #0F202F;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.fl-head {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    box-shadow: 0px 3px 7px #071824;
    font-size: 14px;
    position: relative;
}

.fl-head span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 40px;
    border-radius: 25px;
    position: relative;
    left: 10px;
    cursor: pointer;
}

.fl-head span:hover {
    background-color: #071824;
}

.fl-head-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 40px;
    background-color: #2F4553;
    border-radius: 25px;
    position: absolute;
    right: -20px;
    top: 12.5px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.fl-head-image:hover {
    background-color: #415867;
}

.fl-head-tooltip {
    display: none;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    top: 55px;
    font-size: 14px;
    font-weight: 600;
    color: #0F202F;
}

.fl-body {
    width: 92%;
    margin-left: 8%;
    font-size: 14px;
    height: calc(100% - 60px);
    overflow-y: auto;
}

.fl-body i {
    margin-right: 8%;
}

.fl-body .fl-active i {
    transform: rotate(-90deg);
}

.fl-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.fl-casino {
    margin-top: 30px;
}

.fl-main:hover span {
    margin-left: 5px;
    transition: all 0.1s linear;
}

.fl-active .fl-main:hover span {
    margin-left: 0;
}

.fl-margin {
    margin-top: 20px;
}

.fl-dropdown {
    display: none;
    margin-top: 10px;
}

.fl-active .fl-dropdown {
    display: block;
}

.fl-dd-element {
    width: 100%;
    height: 40px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fl-dd-element:is(:hover, .fl-dropdown-active) {
    background-color: #071824;
}

.fl-dd-element span {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.fl-dd-header {
    margin-top: 10px;
    margin-bottom: 5px;
}

.fl-seperator {
    width: 92%;
    height: 2px;
    border-radius: 2px;
    background-color: #22333d;
    margin: 10px 0;
}

.fl-body::-webkit-scrollbar {
    width: 6px;
    position: relative; left: 20px;
}

.fl-body::-webkit-scrollbar-track {
    background-color: #0F212E;
}

.fl-body::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #2E4552;
}

.live {
    font-size: 10px;
    font-weight: 600;
    padding: 0px 6px;
    border-radius: 25px;
    background-color: #4391E7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0F202F;
}

.fl-blog {
    margin-top: 10px;
}

.fl-extra {
    width: 100%;
    height: 40px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fl-extra:hover {
    background-color: #071824;
}

.fl-extra:hover .text {
    margin-left: 10px;
    transition: all 0.2s linear;
}

.fl-select-lang {
    margin-bottom: 25px;
    line-height: 14px;
}

.fl-select-lang img {
    margin-right: 7px;
}

.select {
    display: flex;
    align-items: center;
}

.select span {
    display: flex;
    align-items: center;
}

.select i {
    margin-left: 10px;
    transition: transform 0.3s linear;
}

.lang-dd-active i {
    transform: rotate(180deg);
}

.select-dropdown {
    display: none;
    font-size: 14px;
    width: 135px;
    height: 130px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    color: #0F212E;
    border-radius: 4px;
    margin-top: 15px;
}

.lang-dd-active .select-dropdown {
    display: block;
}

.lang-options {
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lang-options span {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.lang-options:hover {
    background-color: #E6EAF3;
}

.select-dropdown .active-lang {
    color: #1574E1;
    background-color: white;
}

.select-dropdown::-webkit-scrollbar {
    width: 6px;
    position: relative; left: 20px;
}

.select-dropdown::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 25px;
}

.select-dropdown::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #2E4552;
}


/*SMALL SIDE BAR ME*/

.small-side-bar {
    display: none;
    background-color: #0F202F;
    width: 60px;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #0F202F;
    position: relative;
}

.small-side-bar img {
    height: 14px;
    width: auto;
}

.ssb-head {
    height: 60px;
    width: 100%;
    box-shadow: -2px 3px 7px #071824;
    position: relative;
}

.ssb-head img {
    transform: rotate(180deg);
}

.ssb-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 40px;
    border-radius: 25px;
    cursor: pointer;
}

.ssb-hover:hover, .ssb-active {
    background-color: #071824;
}

.ssb-head-tooltip {
    display: none;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 50px;
}

.ssb-body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.ssb-body::-webkit-scrollbar {
    width: 6px;
}

.ssb-body::-webkit-scrollbar-track {
    background-color: #0F212E;
}

.ssb-body::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #2E4552;
}

.ssb-center {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.ssb-line {
    height: 2px;
    width: 10px;
    margin: 10px auto;
    background-color: #2F4553;
}

.ssb-tooltip {
    display: none;
    white-space: nowrap;
    height: 40px;
    padding: 0 15px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    left: 0px;
}

.ssm-1 {
    top: 40px;
}
.ssm-2 {
    top: 70px;
}
.ssm-3 {
    top: 110px;
}
.ssm-4 {
    top: 140px;
}
.ssm-5 {
    top: 200px;
}
.ssm-6 {
    top: 235px;
}
.ssm-7 {
    top: 270px;
}
.ssm-8 {
    top: 330px;
}
.ssm-9 {
    top: 360px;
}
.ssm-10 {
    top: 395px;
}
.ssm-11 {
    top: 430px;
}
.ssm-12 {
    top: 470px;
}
.ssm-13 {
    top: 520px;
}
.ssm-14 {
    top: 555px;
}


/*MAIN BETTING SECTION*/

/*FIXED HEADER*/

.odds-page {
    flex-grow: 1;
    background-color: #1B2D38;
    height: 100vh;
    font-size: 14px;
    font-weight: 500;
}

.odds-page img {
    height: 14px;
    width: auto;
    margin-right: 5px;
}

.fixed-top {
    width: 100%;
    height: 60px;
    color: white;
    box-shadow: 0px 3px 7px #071824;
}

.center-ft {
    width: 92%;
    max-width: 1200px;
    position: relative;
}

.stake-logo img {
    height: 32px;
    width: auto;
    margin: 0;
}

.center-wallets {
    width: 220px;
    position: relative;
}

.ft-current-wallet {
    height: 43px;
    width: 110px;
    padding: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #0F202F;
    transition: all 0.1s ease;
    cursor: pointer;
}

.ft-current-wallet:hover {
    background-color: #071824;
}

.ft-current-wallet img {
    margin-left: 5px;
}

.ft-current-wallet i {
    transition: all 0.3s linear;
}

.sw-text {
    height: 45px;
    width: 70px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #2b78ca;
    transition: all 0.1s ease;
    cursor: pointer;
}

.sw-text:hover {
    background-color: #105FB5;
}

.wallet-dropdown {
    display: none;
    color: #1B2C39;
    background-color: white;
    width: 220px;
    height: 300px;
    position: absolute;
    top: 55px;
    left: 0;
    border-radius: 5px;
}

.center-search {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.wallet-search {
    position: relative;
}

.wallet-search input {
    width: 190px;
    height: 35px;
    border-radius: 5px;
    padding-left: 30px;
    font-weight: 500;
}

.wallet-search img {
    position: absolute;
    top: 10.5;
    left: 10px;
}

.wallet-dropdown-options {
    height: 205px;
    overflow-y: auto;
}

.w-option {
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    color: #213743;
}

.w-option span {
    display: flex;
    align-items: center;
    line-height: 14px;
    width: 73px;
}

.w-option:hover {
    background-color: #E6EAF3;
}

.wallet-dropdown-options::-webkit-scrollbar {
    width: 6px;
}

.wallet-dropdown-options::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 25px;
}

.wallet-dropdown-options::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #B0BAD2;
}

.wallet-settings {
    border-top: 2px solid #B0BAD2;
    width: 100%;
    height: 40px;
}

.sw-active .wallet-dropdown {
    display: block;
}

.sw-active i {
    transform: rotate(180deg);
}

.ft-extra {
    width: 150px;
}

.ft-search img {
    margin-right: 10px;
}

.chat-dropdown {
    display: none;
    height: 75px;
    width: 90px;
    background-color: white;
    color: #1B2C39;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    right: -3%;
    overflow: hidden;
}

.chat-option {
    width: 100%;
    height: 50%;
    line-height: 14px;
    font-weight: 600;
}

.chat-option span {
    margin-left: 15px;
}

.chat-option:hover {
    background-color: #E6EAF3;
}

.chat-active .chat-dropdown {
    display: block;
}

/*BODY*/

/*TOP SECTION*/

.main-page {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.main-page::-webkit-scrollbar {
    width: 6px;
}

.main-page::-webkit-scrollbar-track {
    background-color: #1B2D38;
}

.main-page::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #2E4552;
}

.betting-section {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.bs-container {
    width: 92%;
    max-width: 1200px;
    height: calc(100% - 60px);
}

.bs-menu1 {
    display: flex;
    margin: 30px 0px;
}

.tm-exit {
    width: 50px;
    height: 40px;
    border-radius: 5px;
    background-color: #0E212F;
    transition: all 0.1s ease;
}

.tm-exit:hover {
    background-color: #071824;
}

.tm-display {
    display: flex;
    gap: 2px;
    height: 40px;
    margin-left: 15px;
}

.tm-option {
    width: 110px;
    height: 100%;
    background-color: #0E212F;
}

.tm-soccer {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.tm-england {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #7B858B;
    cursor: not-allowed;
}

.bs-menu2 {
    width: 100%;
    margin-bottom: 30px;
}

.menu2-left {
    height: 50px;
    width: 340px;
    gap: 5px;
    background-color: #0E212F;
    border-radius: 25px;
}

.bs-menu-live {
    width: 140px;
    height: 40px;
    border-radius: 25px;
}

.bs-menu-outright {
    width: 90px;
    height: 40px;
    border-radius: 25px;
}

.bs-menu-as {
    width: 90px;
    height: 40px;
    border-radius: 25px;
}

.menu2-option:hover, .menu2-active {
    background-color: #2F4553;
    cursor: pointer;
}

.three-way {
    display: block;
}

.bs-menu-odt {
    height: 40px;
    padding: 15px;
    border-radius: 5px;
    background-color: #0E212F;
    transition: all 0.1s ease;
}

.bs-menu-odt:hover {
    background-color: #071824;
}

.menu2-right i {
    margin-left: 15px;
}

.menu2-right {
    position: relative;
}

.menu2-right img {
    margin-right: 20px;
    cursor: pointer;
}

.menu2-popup {
    display: none;
    width: 110px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    color: #0F212E;
    position: absolute;
    bottom: 50px;
    right: 90px;
}

.menu2-popup span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.popup-hover .menu2-popup {
    display: block;
} 

.standard {
    display: none;
}

.bs-menu-main {
    height: 40px;
    width: 80px;
    padding: 15px;
    border-radius: 5px;
    background-color: #0E212F;
    opacity: 0.6;
    cursor: not-allowed;
}

.popup-standard {
    right: 50px;
}

.odds-dropdown {
    display: none;
    height: 120px;
    width: 100px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    right: 5px;
    margin-top: 10px;
    overflow: hidden;
}

.od-option {
    height: 40px;
    width: 100%;
    color: #0F212E;
    padding-left: 15px;
    cursor: pointer;
}

.od-option:hover {
    background-color: #E6EAF3;
}

.odds-dd-active .odds-dropdown {
    display: block;
}

.odds-dd-active i {
    transform: rotate(180deg);
}

.od-option-active:hover, .od-option-active {
    background-color: white;
    color: #1574E1;
}

/*ODDS SECTION*/

.competition {
    width: 100%;
    background-color: #213743;
    border: 1px solid #0F212E;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.last-comp {
    margin-bottom: 100px;
}

.comp-head {
    height: 40px;
    width: 100%;
    color: #D5DCEB;
    padding: 0 15px;
    cursor: pointer;
}

.comp-head-content {
    display: flex;
}

.available-match {
    display: none;
    font-size: 10px;
    font-weight: 600;
    padding: 2px 10px;
    border-radius: 25px;
    background-color: #2F4553;
    margin-right: 20px;
}

.comp-date {
    width: 100%;
    height: 30px;
    color: #b1bad3;
    background-color: #2F4553;
    font-size: 12px;
}

.comp-date span {
    margin: 0 15px;
}

.football-match {
    padding: 0 15px;
    margin: 10px 0;
}

.md-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b1bad3;
    font-size: 12px;
}

.mdh-1x2 {
    width: 80%;
}

.md-line1 {
    width: 34%;
    height: 2px;
    border-radius: 3px;
    background-color: #2F4553;
}

.md-line2 {
    width: 22%;
    height: 2px;
    border-radius: 3px;
    background-color: #2F4553;
}

.md-body {
    margin-top: 10px;
}

.club-names {
    width: 18%;
    cursor: pointer;
}

.club {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.md-image {
    margin-right: 10px;
    margin-left: 17%;
    cursor: pointer;
}

.wd-odd {
    height: 60px;
    width: 17%;
    padding: 10px;
    border-radius: 5px;
    background-color: #040c12;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.odds-hover:hover {
    background-color: #092F5B;
}

.wd-name {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}

.odd-value {
    color: #218cff;
    font-weight: 600;
}

.extra-odds {
    color: #b1bad3;
    margin-left: 3%;
    cursor: pointer;
    transition: all 0.1s ease;
}

.extra-odds:hover {
    color: white;
}

.deactivate .comp-body {
    display: none;
}

.deactivate .comp-head i {
    transform: rotate(90deg);
}

.deactivate .available-match {
    display: block;
}

.md-active, .md-active:hover {
    background-color: #1575E0;
}

.md-active .wd-name {
    color: #071824;
    font-weight: 600;
}

.md-active .odd-value {
    color: white;
}



/*BET LIST*/

.cashier {
    width: 350px;
    height: 100vh;
    background-color: #0E212F;
    color: white;
    font-size: 14px;
    position: relative;
}

.cashier img {
    height: 14px;
    width: auto;
}

.bl-top {
    height: 60px;
    width: 100%;
    box-shadow: 0px 3px 7px #071824;
    position: relative;
}

.bet-menu {
    margin-left: 10px;
    cursor: pointer;
}

.current-bm * {
    margin: 0 5px;
}

.bet-menu i {
    margin: 0 5px;
}
.bet-menu img {
    margin: 0 5px;
}

.bet-count {
    padding: 0px 8px;
    border-radius: 20px;
    background-color: #4290E7;
    color: #071824;
    font-size: 11px;
    font-weight: 600;
}

.collapse-bl {
    height: 30px;
    width: 40px;
    font-size: 18px;
    border-radius: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.collapse-bl:hover {
    background-color: #071824;
}

.blt-dropdown {
    display: none;
    height: 76px;
    background-color: white;
    color: #1B2C39;
    border-radius: 5px;
    position: absolute;
    top: 55px;
    left: 10px;
    overflow: hidden;
    font-weight: 500;
}

.blt-dropdown img {
    margin-right: 5px;
}

.blt-dropdown .dd-item {
    height: 38px;
    padding: 0px 15px;
    cursor: pointer;
}

.dd-item .bet-count {
    margin-left: 10px;
}

.blt-dropdown .dd-item:hover {
    background-color: #E6EAF3;
}

.blt-dropdown .blt-dd-active, .blt-dropdown .blt-dd-active:hover {
    color: #1575E0;
    background-color: white;
}

.bl-top-active .blt-dropdown {
    display: block;
}

.bl-top-active .bet-menu i {
    transform: rotate(180deg);
}

.bet-type-container {
    height: 70px;
    border-bottom: 2px solid #2F4553;
}

.bet-type {
    height: 50px;
    font-weight: 500;
    gap: 5px;
    padding: 5px;
    margin-left: 7px;
    border-radius: 25px;
    background-color: #182B36;
}

.bt-item {
    height: 40px;
    line-height: 40px;
    padding: 0px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.bt-item img {
    margin-right: 5px;
}

.bt-item:hover, .bt-active {
    background-color: #2F4553;
}

.bet-slip-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alter-bl {
    width: 92%;
    height: 40px;
}

.odd-changes {
    margin: 8px 0;
    position: relative;
}

.odd-changes .oc-text {
    cursor: pointer;
    color: #b1bad3;
    transition: all 0.2s ease;
}

.odd-changes .oc-text:hover {
    color: white;
}

.odd-changes i {
    margin-left: 5px;
    transition: all 0.2s ease;
}

.oc-dropdown {
    display: none;
    height: 120px;
    line-height: 40px;
    background-color: white;
    color: #1B2C39;
    white-space: nowrap;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: -10px;
    overflow: hidden;
    font-weight: 500;
}

.oc-dropdown .oc-option {
    padding: 0 15px;
    cursor: pointer;
}

.oc-dropdown .oc-option:hover {
    background-color: #E6EAF3;
}

.oc-dropdown .oc-active, .oc-dropdown .oc-active:hover {
    background-color: white;
    color: #1575E0;
}

.alter-active .oc-dropdown {
    display: block;
}

.alter-active i {
    transform: rotate(180deg);
}

.games-booked {
    height: calc(100vh - 300px);
    width: 100%;
}

.empty-betslip {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.empty-betslip img {
    height: 110px;
    width: auto;
    margin-bottom: 20px;
}

.empty-betslip div {
    display: flex;
    justify-content: center;
}

.empty-bs {
    opacity: 0.7;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 5px;
}

.check-out {
    height: 130px;
    width: 100%;
    background-color: #2F4553;
    position: absolute;
    bottom: 0;
}

.check-out-wrapper {
    width: 92%;
}

.ts-amount span, .est-amount span {
    line-height: 14px;
    margin-right: 5px;
    font-weight: 600;
}

.check-out button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #1574E1;
    border: none;
    font-weight: 600px;
    color: white;
    margin-top: 10px;
}


.match-cards-container {
    width: 92%;
    margin: 0 auto;
}

.match-card {
    height: 150px;
    width: 100%;
    background-color: #203742;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.match-header {
    width: 100%;
    height: 40px;
    background-color: #2E4552;
}

.mh-wrapper {
    width: 92%;
}

.mh-title {
    font-weight: 600;
    color: #b1bad3;
    transition: all 0.1s ease;
}

.mh-title:hover {
    color: white;
}

.mc-content {
    width: 92%;
    margin: 0 auto;
    padding: 10px 0;
}

.mc-content .mc-type {
    color: #b1bad3;
}

.mcc-info {
    width: 100%;
}

.mcc-info .match-pick {
    font-weight: 600;
    margin-bottom: 5px;
}

.mss-side1 {
    width: 100%;
}

.stake-amount {
    position: relative;
}

.stake-amount input {
    height: 36px;
    width: 150px;
    border-radius: 5px;
    border: 2px solid #5f6473;
    background-color: #0F202F;
    color: white;
    padding-right: 30px;
    padding-left: 10px;
    font-weight: 600;
}

.stake-amount input:focus {
    border: none;
}

.mc-content .stake-amount img {
    position: absolute;
    top: 11px;
    right: 10px;
}

.mcc-info .mp-odd {
    color: #218cff;
    font-weight: 600;
    margin-bottom: 3px;
}

.singles-payout {
    height: 36px;
    color: #b1bad3;
}

.singles-payout .sp-est {
    font-size: 12px;
}

.s-dollars {
    line-height: 14px;
}

.s-dollars span {
    margin-right: 5px;
}