* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', Courier, monospace;
    list-style: none;
}

body {
    background-color: #1B2D38;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


/*CONSTANTS*/

.display-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-flex-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.display-flex-btw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.display-flex-even {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

i {
    font-size: 12px;
}

.align-center {
    display: flex;
    align-items: center;
}


/*FIXED LEFT SIDE MENU*/

.stake-side-bar {
    display: flex;
    width: 20%;
    max-width: 350px;
    color: white;
}

.stake-side-bar img {
    height: 14px;
    width: auto;
    margin-right: 5px;
}

.fixed-left {
    background-color: #0F202F;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.fl-head {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    box-shadow: -2px 3px 7px #071824;
    font-size: 14px;
}

.fl-head span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    position: relative;
    left: 10px;
}

.fl-head span:hover {
    background-color: #071824;
}

.fl-body {
    width: 92%;
    margin-left: 8%;
    font-size: 14px;
    height: calc(100% - 60px);
    overflow-y: auto;
}

.fl-body i {
    transition: transform 0.3s linear;
    margin-right: 8%;
}

.fl-body .fl-active i {
    transform: rotate(-90deg);
}

.fl-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.fl-casino {
    margin-top: 30px;
}

.fl-main:hover span {
    margin-left: 5px;
    transition: all 0.1s linear;
}

.fl-active .fl-main:hover span {
    margin-left: 0;
}

.fl-margin {
    margin-top: 20px;
}

.fl-dropdown {
    display: none;
    margin-top: 10px;
}

.fl-active .fl-dropdown {
    display: block;
}

.fl-dd-element {
    width: 100%;
    height: 40px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fl-dd-element:is(:hover, .fl-dropdown-active) {
    background-color: #071824;
}

.fl-dd-element span {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.fl-dd-header {
    margin-top: 10px;
    margin-bottom: 5px;
}

.fl-seperator {
    width: 92%;
    height: 2px;
    border-radius: 2px;
    background-color: #22333d;
    margin: 10px 0;
}

.fl-body::-webkit-scrollbar {
    width: 6px;
    position: relative; left: 20px;
}

.fl-body::-webkit-scrollbar-track {
    background-color: #0F212E;
}

.fl-body::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #2E4552;
}

.live {
    font-size: 10px;
    font-weight: 600;
    height: 16px;
    width: 24px;
    border-radius: 25px;
    background-color: #4391E7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0F202F;
}

.fl-blog {
    margin-top: 10px;
}

.fl-extra {
    width: 100%;
    height: 40px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fl-extra:hover {
    background-color: #071824;
}

.fl-extra:hover .text {
    margin-left: 10px;
    transition: all 0.2s linear;
}

.fl-select-lang {
    margin-bottom: 25px;
    line-height: 14px;
}

.fl-select-lang img {
    margin-right: 7px;
}

.select {
    display: flex;
    align-items: center;
}

.select span {
    display: flex;
    align-items: center;
}

.select i {
    margin-left: 10px;
    transition: transform 0.3s linear;
}

.lang-dd-active i {
    transform: rotate(180deg);
}

.select-dropdown {
    display: none;
    font-size: 14px;
    width: 135px;
    height: 130px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    color: #0F212E;
    border-radius: 4px;
    margin-top: 15px;
}

.lang-dd-active .select-dropdown {
    display: block;
}

.lang-options {
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lang-options span {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.lang-options:hover {
    background-color: #E6EAF3;
}

.select-dropdown .active-lang {
    color: #1574E1;
    background-color: white;
}

.select-dropdown::-webkit-scrollbar {
    width: 6px;
    position: relative; left: 20px;
}

.select-dropdown::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 25px;
}

.select-dropdown::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #2E4552;
}



/*MAIN BETTING SECTION*/

/*Fixed Header*/

.odds-page {
    flex-grow: 1;
    background-color: #1B2D38;
    height: 100vh;
    font-size: 14px;
    position: relative;
}

.odds-page img {
    height: 14px;
    width: auto;
    margin-right: 5px;
}

.fixed-top {
    width: 100%;
    height: 60px;
    color: white;
    box-shadow: -2px 3px 7px #071824;
}

.center-ft {
    width: 92%;
    max-width: 1200px;
}

.stake-logo img {
    height: 32px;
    width: auto;
    margin: 0;
}

.center-wallets {
    width: 220px;
    position: relative;
}

.ft-current-wallet {
    height: 43px;
    width: 110px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #0F202F;
    transition: all 0.1s ease;
}

.ft-current-wallet:hover {
    background-color: #071824;
}

.ft-current-wallet img {
    margin-left: 5px;
}

.ft-current-wallet i {
    transition: all 0.3s linear;
}

.sw-text {
    height: 45px;
    width: 70px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #2b78ca;
    transition: all 0.1s ease;
}

.sw-text:hover {
    background-color: #105FB5;
}

.wallet-dropdown {
    display: none;
    color: #1B2C39;
    background-color: white;
    width: 220px;
    height: 300px;
    position: absolute;
    top: 55px;
    left: 0;
    border-radius: 5px;
}

.center-search {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.wallet-search {
    position: relative;
}

.wallet-search input {
    width: 190px;
    height: 35px;
    border-radius: 5px;
    padding-left: 30px;
    font-weight: 500;
}

.wallet-search img {
    position: absolute;
    top: 10.5;
    left: 10px;
}

.wallet-dropdown-options {
    height: 205px;
    overflow-y: auto;
}

.w-option {
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    color: #213743;
}

.w-option span {
    display: flex;
    align-items: center;
    line-height: 14px;
    width: 73px;
}

.w-option:hover {
    background-color: #E6EAF3;
}

.wallet-dropdown-options::-webkit-scrollbar {
    width: 6px;
    position: relative; left: 20px;
}

.wallet-dropdown-options::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 25px;
}

.wallet-dropdown-options::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #B0BAD2;
}

.wallet-settings {
    border-top: 2px solid #B0BAD2;
    width: 100%;
    height: 40px;
}

.sw-active .wallet-dropdown {
    display: block;
}

.sw-active i {
    transform: rotate(180deg);
}

.ft-extra {
    width: 150px;
}

.ft-search img {
    margin-right: 10px;
}

.chat-dropdown {
    display: none;
    height: 75px;
    width: 100px;
    background-color: white;
    color: #1B2C39;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    right: 1px;
    overflow: hidden;
}

.chat-option {
    width: 100%;
    height: 50%;
    line-height: 14px;
    font-weight: 600;
}

.chat-option span {
    margin-left: 15px;
}

.chat-option:hover {
    background-color: #E6EAF3;
}

.chat-active .chat-dropdown {
    display: block;
}

/*Body*/

.betting-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bs-container {
    width: 92%;
    max-width: 1200px;
    height: calc(100% - 60px);
}



/*.saas {
    background-color: red;
    width: 200px;
    height: 100vh;
}*/