* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', Courier, monospace;
    list-style: none;
}

body {
    background-color: #1B2D38;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.stake-demo {
    display: flex;
    width: 100%;
    color: white;
}

.stake-demo img {
    height: 14px;
    width: auto;
    margin-right: 5px;
}

/*FIXED LEFT SIDE BAR*/

.fixed-left {
    background-color: #0F202F;
    width: calc(20% - 20px);
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

.fl-head {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    box-shadow: -2px 3px 7px black;
    font-size: 14px;
}

.fl-head span {
    display: flex;
    align-items: center;
}

.fl-body {
    width: 92%;
    margin-left: 8%;
    font-size: 14px;
    height: calc(100% - 70px);
    overflow-y: auto;
}

.fl-body i {
    font-size: 12px;
    transition: transform 0.3s linear;
    margin-right: 8%;
}

.fl-body .fl-active i {
    transform: rotate(-90deg);
}

.fl-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.fl-casino {
    margin-top: 30px;
}

.fl-main:hover span {
    margin-left: 5px;
    transition: all 0.1s linear;
}

.fl-active .fl-main:hover span {
    margin-left: 0;
}

.fl-margin {
    margin-top: 20px;
}

.fl-dropdown {
    display: none;
    margin-top: 10px;
}

.fl-active .fl-dropdown {
    display: block;
}

.fl-dd-element {
    width: 100%;
    height: 40px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fl-dd-element:is(:hover, .fl-dropdown-active) {
    background-color: #071824;
}

.fl-dd-element span {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.fl-dd-header {
    margin-top: 10px;
    margin-bottom: 5px;
}

.fl-seperator {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #22333d;
    margin: 10px 0;
}

.fl-body::-webkit-scrollbar {
    width: 6px;
    position: relative; left: 20px;
}

.fl-body::-webkit-scrollbar-track {
    background-color: #0F212E;
}

.fl-body::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #2E4552;
}

.fl-blog {
    margin-top: 10px;
}

.fl-extra {
    width: 100%;
    height: 40px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fl-extra:hover {
    background-color: #071824;
}

.fl-extra:hover .text {
    margin-left: 10px;
    transition: all 0.2s linear;
}

.fl-select-lang {
    margin-bottom: 25px;
    line-height: 14px;
}

.fl-select-lang img {
    margin-right: 7px;
}

.select {
    display: flex;
    align-items: center;
}

.select span {
    display: flex;
    align-items: center;
}

.select i {
    margin-left: 10px;
}

.select-dropdown {
    display: none;
    font-size: 14px;
    width: 135px;
    height: 130px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    color: #0F212E;
    border-radius: 4px;
    margin-top: 15px;
}

.lang-dd-active {
    display: block;
}

.lang-options {
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lang-options span {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.lang-options:hover {
    background-color: #E6EAF3;
}

.select-dropdown .active-lang {
    color: #1574E1;
}

.select-dropdown::-webkit-scrollbar {
    width: 6px;
    position: relative; left: 20px;
}

.select-dropdown::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 25px;
}

.select-dropdown::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #2E4552;
}



/*MAIN BETTING SECTION*/

.odds-page {
    flex-grow: 1;
    background-color: #1B2D38;
    width: 100%;
    height: 100vh;
    margin-left: calc(20% - 20px);
}